*{
    margin: 0;
    padding: 0;
}

h1{
    position: fixed;
    top: 10px;
    width: 100%;
    text-align: center;
}
body{
    background-color: #2C423F;
    text-align: center;
}

.container{
    margin-top: 100px;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #2C423F;
    background-color: #829191;
}

#new-button{
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    background-color: #4C5B61;
    color: #C5C5C5;
    border-radius: 1rem;
    border: none;
}

#msg{
    color: #829191;
    font-size: 5vmin;
}

.msg-container{
     height: 100vmin;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 4rem;
}

#reset-button{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #4C5B61;
    color: #C5C5C5;
    border-radius: 1rem;
    border: none;
}

.hide{
    display: none;
}